<script type="text/javascript" src="__STATIC__/index/js/n_nav.js"></script>
{include file="public/top"/}
<div class="i_bg">  
    <!--Begin 第三步：提交订单 Begin -->
    <div class="content mar_20">
    	<div class="warning">      	
            <table border="0" style="width:1000px; text-align:center;" cellspacing="0" cellpadding="0">
              <tr height="35">
                <td style="font-size:18px;">
                    您已支付成功，您的订单号为:<font color="#ff4e00">{$orderInfo.order_number}</font>
                    支付金额为<font color="#ff4e00">￥{$orderInfo.order_amount}</font>
                </td>
              </tr>
              <tr>
                <td>
                	<a href="#">首页</a> &nbsp; &nbsp; <a href="#">用户中心</a>
                </td>
              </tr>
            </table>        	
        </div>
    </div>